@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.saving {
  background-color: white;

  height: 8rem;
  width: auto;
}

.balances {
  font-size: 18px;
  font-weight: bolder !important;
  color: rgb(53, 23, 183);
}
.per {
  font-size: 12px;
  font-weight: 600;
  color: rgb(90, 68, 183);
}
.amount {
  font-size: 12px;
  font-weight: bolder;
  color: rgb(90, 68, 183);
}
.sum {
  color: #372b76;
}
